:root {
    --theme-base: "black-highlighter";
    --theme-id: "liminal";
    --theme-name: "Liminal Theme";
    --logo-image: url("../../New_BHL/image/logo.svg");
    --header-title: "The Backrooms";
    --header-subtitle: "你曾经来过这里";
    --body-font: Inter, "Noto Sans SC", "Noto Sans TC", Arimo, Verdana, Geneva, sans-serif;
    --header-font: Inter, "Noto Sans SC", "Noto Sans TC", Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic,
        Arial, sans-serif;
    --title-font: var(--header-font);
    --mono-font: Recursive, "Noto Serif SC", "Noto Serif TC", Consolas, monaco, monospace;
    --white-monochrome: 237, 233, 223;
    --pale-gray-monochrome: 255, 251, 240;
    --light-gray-monochrome: 160, 160, 160;
    --gray-monochrome: 72, 69, 60;
    --black-monochrome: 25, 20, 16;
    --bright-accent: 140, 136, 126;
    --medium-accent: 72, 69, 60;
    --dark-accent: 140, 136, 126;
    --pale-accent: 140, 136, 126;
    --swatch-topmenu-border-color: var(--medium-accent);
    --link-color: 230, 23, 68;
    --hover-link-color: 187, 0, 34;
    --visited-link-color: 150, 24, 43;
    --background-gradient-distance: 0rem;
    --gradient-header: linear-gradient(to top, rgba(var(--medium-accent)) 0%, rgba(var(--medium-accent), 0.9) 100%);
    --diagonal-stripes: linear-gradient(transparent 0);

    --rename-option: "记住：后室维基用户可以重命名/移动自己创建的页面，但请谨慎使用该功能（最好仅在名称中出现错误时使用）。只有工作人员允许删除页面，包括你自己创建的页面。若需自删，请在页面名称前面加上 deleted: 前缀，以方便工作人员追踪与核查。";
}
